
body{
  background-color: aliceblue;
  text-align: center;
}
.dashboard-container{
  width: 100vw;
  height: 100vh;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
}
.survey-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-componenet{
  margin: 5px;
  min-width: 500px;
}
.survey-card-btn{
  margin: 0 2px;
}
.survey-create-form-container{
  
  border: 1px solid black;
  width: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgba(163, 216, 198, 0.807);
}
.blur-background {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
.close-btn{
  position: absolute;
  top: 1px;
  right:1px;
  border: none;
  background-color: transparent;

}
.close-btn-question-form{
  position: relative;
  left: 48.2%;
  border: none;
  background: none;
}




